<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Common\Config.wxi?>
  <Fragment>
    <DirectoryRef Id="DIRECTSHOWINSTALLLOCATION">
      <Component Id="GenericSampleSourceFilterComponent" Guid="{5BA3248A-D4CB-4CF6-8009-165058C82975}" Win64="$(var.Win64)">
        <File Id="filDA6FB0F2BF583B0C6850D59DEBA8444B" KeyPath="yes" Source="$(var.Ogama.TargetDir)GenericSampleSourceFilter.ax">
          <Class Id="{6F7BCF72-D0C2-4449-BE0E-B12F580D056D}" Context="InprocServer32" Description="Generic Sample Source Filter" ThreadingModel="both" />
        </File>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>