<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Bundle Name="Ogama V4.5" Version="4.5" Manufacturer="Dr. Adrian Voßkühler" UpgradeCode="2a768c10-b493-4279-84d7-11e0815e3a92">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeTheme">
      <bal:WixStandardBootstrapperApplication 
        LicenseFile="Resources\License.rtf"
        ShowVersion="yes"
        LogoFile="Resources\Logo.png" />
    </BootstrapperApplicationRef>

    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Net4FullVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Net4x64FullVersion" Win64="yes" />
    <util:RegistrySearch Variable="FFDShowExists" Root="HKLM" Key="SOFTWARE\Wow6432Node\GNU\ffdshow" Result="exists"/>
    <util:RegistrySearch Variable="FFDShowRevision" Root="HKLM" Key="SOFTWARE\Wow6432Node\GNU\ffdshow" Value="revision"/>
    <util:RegistrySearch Variable="BonjourExists" Root="HKLM" Key="SOFTWARE\Apple Inc.\Bonjour Print Services" Result="exists"/>
    <util:RegistrySearch Variable="BonjourVersion" Root="HKLM" Key="SOFTWARE\Apple Inc.\Bonjour Print Services" Value="Version"/>

    <Chain>
      <!-- Install .Net 4 if not available on systems since win 2000 -->
      <ExePackage Id="Net4Full" Name="Microsoft .NET Framework 4.0 Setup" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes" InstallCommand="/q"
                  SourceFile="Resources\dotNetFx40_Full_setup.exe"
                  DetectCondition="Net4FullVersion AND (NOT VersionNT64 OR Net4x64FullVersion)"
                  InstallCondition="(VersionNT >= v5.0 OR VersionNT64 >= v5.0) AND (NOT (Net4FullVersion OR Net4x64FullVersion))"/>

      <!-- Install ffdshow -->
      <ExePackage Id="ffdshow" Name="FFDShow Revision 3476 Setup" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes" 
                  SourceFile="$(var.SolutionDir)Libs\Installer\ffdshow.exe"
                  DetectCondition="FFDShowExists"
                  InstallCondition="(FFDShowRevision >= 3476)"/>
      
        <!-- Install apple bonjour -->
      <ExePackage Id="Bonjour" Name="Apple Bonjour" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes" 
                  SourceFile="$(var.SolutionDir)Libs\Installer\BonjourPSSetup.exe"
                  DetectCondition="BonjourExists"
                  InstallCondition="(BonjourVersion >= 2)"/>
    
      <RollbackBoundary />

      <MsiPackage Id="MainPackage" SourceFile="$(var.TargetDir)de-de\OgamaSetupV45.msi" DisplayInternalUI="yes" Compressed="yes" Vital="yes" />
    </Chain>
  </Bundle>
</Wix>