<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ogama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Ogama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="Ogama.Properties.Settings.OgamaDatabaseTemplateConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DataSet\OgamaDatabaseTemplate.mdf;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient"/>
 </connectionStrings>
	<userSettings>
		<Ogama.Properties.Settings>
   <setting name="RecentFileList" serializeAs="String">
    <value/>
   </setting>
   <setting name="AOIModuleLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="NumberOfRecentFiles" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="ReplaySpeed" serializeAs="String">
    <value>1x</value>
   </setting>
   <setting name="MaxPointsPolyline" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="MaxNumberFixations" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="GazeModeCursor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GazeModePath" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseModeCursor" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MouseModePath" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GazeModeFixations" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GazeModeFixCon" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GazeModeSpotlight" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GazeModeCutPath" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GazeModeBlinks" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseModeFixations" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseModeFixCon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseModeSpotlight" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseModeCutPath" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GazeCursorType" serializeAs="String">
    <value>Circle</value>
   </setting>
   <setting name="GazeCursorColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="GazeCursorStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="GazeCursorWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="GazePathStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="GazePathColor" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="GazePathWidth" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="GazeFixationsPenColor" serializeAs="String">
    <value>Yellow</value>
   </setting>
   <setting name="GazeFixationsPenStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="GazeFixationsPenWidth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="GazeFixationConnectionsPenColor" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="GazeFixationConnectionsPenStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="GazeFixationConnectionsPenWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="MouseCursorColor" serializeAs="String">
    <value>Cyan</value>
   </setting>
   <setting name="MouseCursorStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="MouseCursorWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="MousePathColor" serializeAs="String">
    <value>MediumBlue</value>
   </setting>
   <setting name="MousePathStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="MousePathWidth" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="MouseFixationsPenColor" serializeAs="String">
    <value>DarkOrange</value>
   </setting>
   <setting name="MouseFixationsPenStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="MouseFixationsPenWidth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="MouseFixationConnectionsPenColor" serializeAs="String">
    <value>MediumBlue</value>
   </setting>
   <setting name="MouseFixationConnectionsPenStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="MouseFixationConnectionsPenWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="GazeNoDataColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="GazeNoDataStyle" serializeAs="String">
    <value>Dot</value>
   </setting>
   <setting name="GazeNoDataWidth" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="GazeCursorSize" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="MouseCursorSize" serializeAs="String">
    <value>32</value>
   </setting>
   <setting name="MouseCursorType" serializeAs="String">
    <value>Arrow</value>
   </setting>
   <setting name="AOISearchRectColor" serializeAs="String">
    <value>SteelBlue</value>
   </setting>
   <setting name="AOISearchRectStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="AOISearchRectWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="AOITargetColor" serializeAs="String">
    <value>Yellow</value>
   </setting>
   <setting name="AOITargetStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="AOITargetWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="AOIStandardColor" serializeAs="String">
    <value>Magenta</value>
   </setting>
   <setting name="AOIStandardStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="AOIStandardWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="AOIStandardFont" serializeAs="String">
    <value>Tahoma, 27.75pt</value>
   </setting>
   <setting name="AOIStandardFontColor" serializeAs="String">
    <value>Magenta</value>
   </setting>
   <setting name="AOITargetFontColor" serializeAs="String">
    <value>Yellow</value>
   </setting>
   <setting name="AOITargetFont" serializeAs="String">
    <value>Tahoma, 27.75pt</value>
   </setting>
   <setting name="AOISearchRectFontColor" serializeAs="String">
    <value>SteelBlue</value>
   </setting>
   <setting name="AOISearchRectFont" serializeAs="String">
    <value>Tahoma, 27.75pt</value>
   </setting>
   <setting name="GazeFixationsFont" serializeAs="String">
    <value>Arial, 27.75pt</value>
   </setting>
   <setting name="GazeFixationsFontColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="ReplayModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="StatisticsModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="FixationsModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="DatabaseModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="AttentionMapModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="MainWindowLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="EyeTrackerSettingsPath" serializeAs="String">
    <value/>
   </setting>
   <setting name="MouseFixationsFontColor" serializeAs="String">
    <value>0, 0, 192</value>
   </setting>
   <setting name="MouseFixationsFont" serializeAs="String">
    <value>Arial, 27.75pt</value>
   </setting>
   <setting name="FIXMouseFixationsPenWidth" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="FIXMouseFixationsPenStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="FIXMouseFixationsPenColor" serializeAs="String">
    <value>0, 0, 192</value>
   </setting>
   <setting name="BackgroundColorForms" serializeAs="String">
    <value>Control</value>
   </setting>
   <setting name="FIXMouseToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="FIXGazeToolbarLocation" serializeAs="String">
    <value>126, 25</value>
   </setting>
   <setting name="FIXOptionsToolbarLocation" serializeAs="String">
    <value>3, 25</value>
   </setting>
   <setting name="FIXTrialToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="RPLTrialToolbarLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="RPLGazeToolbarLocation" serializeAs="String">
    <value>0, 27</value>
   </setting>
   <setting name="RPLMouseToolbarLocation" serializeAs="String">
    <value>415, 27</value>
   </setting>
   <setting name="ATMCalculateToolbarLocation" serializeAs="String">
    <value>317, 25</value>
   </setting>
   <setting name="ATMTrialToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="SCAStimuliToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="SCAGazeToolbarLocation" serializeAs="String">
    <value>3, 25</value>
   </setting>
   <setting name="SCAMouseToolbarLocation" serializeAs="String">
    <value>3, 50</value>
   </setting>
   <setting name="GazeFixationsDrawingMode" serializeAs="String">
    <value>Dots</value>
   </setting>
   <setting name="MouseFixationsDrawingMode" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="GazeConnections" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="GazeNumbers" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MouseConnections" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MouseNumbers" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SCALevenshteinToolbarLocation" serializeAs="String">
    <value>3, 75</value>
   </setting>
   <setting name="NoDataPenStyle" serializeAs="String">
    <value>Dot</value>
   </setting>
   <setting name="NoDataPenSize" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="AOIToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="RecordingModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SaliencyModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="ScanpathsModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SlidedesignModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="SCRToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="SALToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="SALGazeToolbarLocation" serializeAs="String">
    <value>3, 25</value>
   </setting>
   <setting name="SALCalculateToolbarLocation" serializeAs="String">
    <value>3, 50</value>
   </setting>
   <setting name="RECToolbarLocation" serializeAs="String">
    <value>5, 25</value>
   </setting>
   <setting name="DTBToolbarLocation" serializeAs="String">
    <value>3, 0</value>
   </setting>
   <setting name="SlideshowModuleLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="ActivatedHardwareTracker" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="PresentationScreenMonitor" serializeAs="String">
    <value>Secondary</value>
   </setting>
   <setting name="AOITargetTextAlignment" serializeAs="String">
    <value>Center</value>
   </setting>
   <setting name="AOISearchRectTextAlignment" serializeAs="String">
    <value>Center</value>
   </setting>
   <setting name="AOIDefaultTextAlignment" serializeAs="String">
    <value>Center</value>
   </setting>
   <setting name="AOIBubbleTextAlignment" serializeAs="String">
    <value>Center</value>
   </setting>
   <setting name="AOIArrowTextAlignment" serializeAs="String">
    <value>Center</value>
   </setting>
   <setting name="NoDataPenColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="AOIBubbleColor" serializeAs="String">
    <value>Red</value>
   </setting>
   <setting name="AOIBubbleFontColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="AOIArrowColor" serializeAs="String">
    <value>SandyBrown</value>
   </setting>
   <setting name="AOIArrowFontColor" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="AOIBubbleStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="AOIBubbleWidth" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AOIBubbleFont" serializeAs="String">
    <value>Verdana, 14.25pt, style=Bold</value>
   </setting>
   <setting name="AOIArrowStyle" serializeAs="String">
    <value>Solid</value>
   </setting>
   <setting name="AOIArrowWidth" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="AOIArrowFont" serializeAs="String">
    <value>Verdana, 12pt</value>
   </setting>
   <setting name="AOIBubbleBrushColor" serializeAs="String">
    <value>255, 128, 128</value>
   </setting>
   <setting name="AOIArrowBrushColor" serializeAs="String">
    <value>Gold</value>
   </setting>
   <setting name="AOIBubbleDrawAction" serializeAs="String">
    <value>NameAndFill</value>
   </setting>
   <setting name="AOIArrowDrawAction" serializeAs="String">
    <value>NameEdgeFill</value>
   </setting>
   <setting name="SaliencyCalculationPath" serializeAs="String">
    <value/>
   </setting>
   <setting name="LogfilePath" serializeAs="String">
    <value/>
   </setting>
   <setting name="ImportSettingsPath" serializeAs="String">
    <value/>
   </setting>
   <setting name="OgamaScreenCaptureSettingsPath" serializeAs="String">
    <value/>
   </setting>
  </Ogama.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<Ogama.Properties.Settings>
   <setting name="UpdateUri" serializeAs="String">
    <value>http://www.ogama.net/version.txt</value>
   </setting>
   <setting name="OgamaUri" serializeAs="String">
    <value>http://www.ogama.net</value>
   </setting>
  </Ogama.Properties.Settings>
	</applicationSettings>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
